* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: "Inter", sans-serif;
     margin:0 50px;
}
.bg-grey {
    background: #f7f7f7;
}
/* *************************** CSS Banner *************************** */
body a{
    text-decoration: none;
    color: #f7f7f7;
}
#banner{
    background-position-x: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/images/banner.jpg");
    height: 420px;
    color: #f7f7f7;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 40px;
    font-weight: 400;
}
#banner span{
    font-size: 10px;
    font-weight: 100;
}

/* *************************** CSS NAVIGATION BAR *************************** */
.navbar {
    padding-top: 0;
    padding-bottom: 0;
}
.navbar .container-fluid{
    justify-content: center;
}
.navbar .spacer{
    padding:0 100px;
}
.navbar .navbar-brand{
    margin-right: 0;
    padding: 10px 15px;
    border-left: 1px solid #dee2e6;
}
.navbar a:nth-child(2),
.navbar a:nth-child(5){
    border-right: 1px solid #dee2e6;
}
.navbar span{
    font-size: 12px;
    text-transform: uppercase;
}
.nav-icon{
    width: 12px;
    height: 12px;
    color: #4dabf7;
    align-self: center;
}

/* ====================== ADVANCE REQUEST ==================================== */
#navbar img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border:8px solid white;
    position: absolute;
}

/* ********************** SECTION ABOUT *********************** */


#about{
    font-size: 12px;
    line-height: 1.6;
   
}

#about h1{
    padding-bottom: 32px;
    font-size: 24px;
}


#target{
   padding: 60px 30px 30px 190px;
}
#target p{
    color: #868e96;
}

#personal-info{
    background-color: #f1f3f5;
    padding: 60px 210px 30px 30px ;
}
#personal-info span{
    font-weight: 500;
    color:#343a40;
}
#personal-info ul{
    list-style-type: none;
    padding: 0;
}
#personal-info li{
    color: #868e96;
}
#personal-info .icon{
    display: flex;
    gap: 10px;
    margin: 20px 0;
}
.about-icon{
    width: 12px;
    height: 12px;
    color: #4dabf7;
    align-self: center;
    cursor: pointer;
}

/* *************************** SECTION JOB INFO *************************** */

/* =============== COMMON HEADER, CONTAINER FOR ALL OF COMPONENTs in JOB INFO ========== */
#job-info .component{
    border: 1px solid #dee2e6;
    padding: 50px 20px;
    margin:0 10px;
}
#job-info .toggle-tablet{
    display: none;
}
#job-info .toggle-mobile{
    display: none;
}

#job-info .col{
    padding:0;
}

#job-info ul{
    padding-left:0;
}
#job-info .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
#job-info .header .header-ic{
    margin-right: 25px;
}
#job-info .container{
    padding: 30px 190px;
    gap: 15px;
} 
#job-info .container h1{
    font-size: 24px;
}
/* =============== COMPONENT "Kinh Nghiệm - Học Vấn - Hoạt Động" =======================*/

#job-info ul{
    color: #868e96;
}
#job-info li h3{
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 5px;
}
#job-info li .time-line{
    font-style: italic;
    margin-bottom: 10px;
}
#job-info li .time-line span{
    background-color: #4dabf7;
    color: white;
    padding: 2px 10px 0 10px;
    border-radius: 5px;
}
#job-info li{
    margin-bottom: 25px;
    margin-left: 16px;
}
#job-info li::marker{
    color: #4dabf7;
}
#job-info li p{
    font-size: 10px;
    line-height: 1.6;
}


/* =============== COMPONENT "SỞ THÍCH" =======================*/
#job-info .header-ic{
    font-size: 32px;
    color: #868e96;
}


#job-info .list-icons{
    display: flex;
    flex-wrap: wrap;
    font-size: 10px;
    justify-content: flex-start;
    gap: 20px;
}

#job-info .list-icons p{
    text-align: center;
    color:#868e96;
}
#job-info .list-icons i{
    display: block;
    font-size: 16px;
    border: 1px solid #4dabf7;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: auto auto 5px auto;
    padding-top: 10px;
    color:#4dabf7;
}

/* =============== COMPONENT "NGÔN NGỮ - KỸ NĂNG" =======================*/
#job-info .level-language{
    list-style-type: none;
    margin-left: 0;
}

.levels{
    display: flex;
    gap: 10px;
}

.child-level{
    width: 40px;
    height: 2px;
    background-color: #dee2e6;
}
.english-level .levels div:nth-child(1){
    background-color: #4dabf7;
 }

.javascript-level .levels div:nth-child(1),
.javascript-level .levels div:nth-child(2),
.bootstrap-level .levels div:nth-child(1),
.bootstrap-level .levels div:nth-child(2){
    background-color: #4dabf7;
 }
.html-css-level .levels div:nth-child(1),
.html-css-level .levels div:nth-child(2),
.nodejs-level .levels div:nth-child(1),
.nodejs-level .levels div:nth-child(2){
    background-color: #4dabf7;
}

/* *************** SECTION CERTIFICATE ************************/
    /* ========== COMON CSS ========== */
#certificate .container {
    margin: auto;
    padding: 30px 50px;
   
}
#certificate .container h1{
    font-size: 24px;
}
#certificate img{
    width: 180px;
    height: 100px;
}
    /* ========== ITEM CSS ========== */
#certificate .row{
    margin-left: 0;
    width: 100%;
}
#certificate .container{
    padding: 30px 190px;
}

.certificate-items .item{
    border-bottom: 1px solid #d6c08d;
    gap: 10px;
    padding: 30px 0;
}
.certificate-items .item:last-child{
    border-bottom: none;
}    

.certificate-items .item-content{
    display: flex;
    gap: 10px;
}
.certificate-items > .item > .first-item{
    border-right: 1px solid #d6c08d;
}
.certificate-items > .item > .second-item{
    padding-left: 10px;
}
.certificate-items .sub-title{
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top:5px;
    font-size: 12px;
}
.certificate-items p{
    color: #868e96;
    font-size: 10px;
    line-height: 1.6;
}

/* *************** SECTION PROJECT ************************/
#project .container {
  
    padding: 50px 190px;
}
#project .section-title{
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 20px;
}

.project-item img{
    width: 100%;
    height: auto;
}

.project-item .info{
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 50vh;
    font-size: 10px;
    line-height: 1.6;
    color: #868e96;
    border: 1px solid #dee2e6;
}
.project-item h3{
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    grid-column: 1 / -1;
    align-self: center;
}
.project-item .time-line{
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: end;
}
.project-item .time-line span:first-child{
    padding: 5px 10px;
    background-color: #4dabf7;
    color: white;
    border-radius: 10px;
}
.project-icon{
    font-size: 14px;
    margin-left:10px;
}
.project-item .description,
.project-item .mission,
.project-item .technique{
    grid-column: 1 / 2;
}
.project-item h3,
.project-item .time-line,
.project-item .description,
.project-item .mission,
.project-item .technique,
.project-item .description-content,
.project-item .mission-content,
.project-item .technique-content{
    padding:10px 5px 10px 10px;
    border-bottom: 1px solid #dee2e6;
}
.project-item h3,
.project-item .time-line{
    padding:10px 20px;
}
.project-item .technique,
.project-item .technique-content{
    border-bottom: none;
}

/* *************** SECTION FOOTER ************************/
#footer .container{
    padding: 25px 0;
}
#footer ul{
    display: flex;
    font-size: 10px;
    color:#868e96;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}
#footer .icon{
    font-size: 24px;
    color: #4dabf7;
    border-radius: 50%;
    cursor: pointer;
}
#footer li{
    margin-right: 30px;
    list-style-type: none;
    cursor: pointer;
}

/* ********************* CSS PROJECT CHARTER ******************************* */

#preject-charter-1{
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 1px 23px 10px rgb(0 0 0 / 22%);
}
#preject-charter-1{
   display: grid;
   grid-template-columns: 2fr 1fr 1fr;
   gap: 15px;
   border-top: 15px solid blue;
   border-bottom: 15px solid blue;
   background-color: blue;
}

#preject-charter-1 .goals{
    padding: 10px;
    background-color: #f0f8ff;
}
#preject-charter-1 .goals ul{
    padding-left: 0;
}
#preject-charter-1 .goals li{
    list-style-type:none;
    /* using grid instead flex to fix icon when resize width */
    display: grid;
    grid-template-columns: 30px 1fr;
    gap: 30px;
    padding-left: 30px;
    padding-top: 10px;
    border-bottom: 0.5px solid #80808030;
}
#preject-charter-1 .team{
    padding: 10px;
    background-color: #f0f8ff;
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}
#preject-charter-1 .team ul{
    padding-left: 0;
}
#preject-charter-1 .team li{
    list-style-type:none;
    /* using grid instead flex to fix icon when resize width */
    display: grid;
    grid-template-columns: 30px 1fr;
    gap: 30px;
    padding-left: 20px;
    padding-top: 10px;
}
#preject-charter-1 .scopes{
    padding: 10px;
    background-color: #f0f8ff;
}
#preject-charter-1 .scopes .row{
    padding:0 20px;
}
#preject-charter-1 .primary{
    padding: 10px;
    background-color: #f0f8ff;
}
#preject-charter-1 .primary ul{
    padding-left: 0;
}
#preject-charter-1 .primary li{
    list-style-type:none;
    /* using grid instead flex to fix icon when resize width */
    display: grid;
    grid-template-columns: 30px 1fr;
    gap: 30px;
    padding-left: 20px;
    padding-top: 10px;
}

#preject-charter-1 .timeline{
    grid-column: 3 / -1;
    grid-row: 1 / span 2;
    padding: 10px;
    background-color: #f0f8ff;
}
/* using counter-reset, counter-increment & content to make list of number before li */
#preject-charter-1 .timeline ol{
    list-style-type: none;
    counter-reset: myTimeline;
    padding-left: 60px;
}
#preject-charter-1 .timeline ol li{
    position: relative;
}
#preject-charter-1 .timeline ol li::before{
    counter-increment: myTimeline;
    content: "0" counter(myTimeline);

    position:absolute;
    transform: translate(-50px, 0px);
    border: 1px solid rgb(102, 102, 104);
    border-radius: 50%;
    background-color: #9e88ff ;
    color: white;
    padding:10px
}
/*  The end setup item before li */

#preject-charter-1 .timeline .content{
    border-bottom: 1px dashed #5ac0c5;
    margin-top: 20px;
    padding-left: 5px;
}
#preject-charter-1 .timeline .content p{
    margin-bottom: 2px;
 }
#preject-charter-1 .timeline .content p{
   margin-bottom: 2px;
}

#preject-charter-1 h4{
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
    font-weight: 700;
}
#preject-charter-1 h6{
    font-weight: 700;
}
#preject-charter-1 svg{
    width: 30px;
    height: 40px;
}



